<div class="devise-container">
  <div class="app-branding">
    <%= image_tag "Unilo_icon_without_text.jpg", alt: "Unilo", class: "app-icon" %>
    <h1 class="app-title">Unilo</h1>
  </div>
  <h2><%= resource_name.to_s.humanize %>情報の編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :fullname, "氏名" %><br />
    <%= f.text_field :fullname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>現在、<%= resource.unconfirmed_email %>での確認待ちです</div>
  <% end %>

  <div class="field">
    <%= f.label :password, "パスワード" %> <i>(変更しない場合は空欄にしてください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %> <i>(変更を確認するために現在のパスワードが必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<h3>アカウント削除</h3>

<div>
  <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？", turbo_confirm: "本当によろしいですか？" }, method: :delete %>
</div>

<%= link_to "戻る", :back %>
</div>
