<div class="devise-container">
  <div class="app-branding">
    <%= image_tag "Unilo_icon_without_text.jpg", alt: "Unilo", class: "app-icon" %>
    <h1 class="app-title">Unilo</h1>
  </div>
  <h2>ユーザー登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "devise-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :fullname, "氏名" %>
      <%= f.text_field :fullname, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
