<div class="numerological-structure" data-controller="numerological-structure-panel">
  <div class="numerological-structure-toolbar">
    <div class="numerological-structure-toolbar-title">陽占数理法</div>
    <%= numerological_structure_button(:overview, nil, '表の見方', numerological_structure) %>
  </div>

  <table>
    <tr>
      <% numerological_structure[:stem_names].each do |name| %>
        <th><%= name %></th>
      <% end %>
    </tr>
    <tr>
      <% numerological_structure[:stem_count].each do |count| %>
        <td><%= count %></td>
      <% end %>
    </tr>
    <tr>
      <% numerological_structure[:ten_major_star_name].each do |name| %>
        <td><%= name %></td>
      <% end %>
    </tr>
    <tr>
      <% numerological_structure[:stem_point].each do |point| %>
        <td><%= point %></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="2"><%= numerological_structure_button(:struggle, numerological_structure[:struggle], nil, numerological_structure) %></td>
      <td colspan="2"><%= numerological_structure_button(:input, numerological_structure[:input], nil, numerological_structure) %></td>
      <td colspan="2"><%= numerological_structure_button(:ego, numerological_structure[:ego], nil, numerological_structure) %></td>
      <td colspan="2"><%= numerological_structure_button(:expression, numerological_structure[:expression], nil, numerological_structure) %></td>
      <td colspan="2"><%= numerological_structure_button(:get, numerological_structure[:get], nil, numerological_structure) %></td>
    </tr>
    <tr>
      <td colspan="4"><%= numerological_structure_button(:passive, numerological_structure[:back_structure], nil, numerological_structure) %></td>
      <td colspan="2"><%= numerological_structure_button(:center, numerological_structure[:center_structure], nil, numerological_structure) %></td>
      <td colspan="4"><%= numerological_structure_button(:active, numerological_structure[:front_structure], nil, numerological_structure) %></td>
    </tr>
    <tr>
      <td colspan="2"><%= numerological_structure_button(:control_by, numerological_structure[:control_by], nil, numerological_structure) %></td>
      <td colspan="6"><%= numerological_structure_button(:generates, numerological_structure[:generates], nil, numerological_structure) %></td>
      <td colspan="2"><%= numerological_structure_button(:control, numerological_structure[:control], nil, numerological_structure) %></td>
    </tr>
    <tr>
      <td colspan="5"><%= numerological_structure_button(:self, numerological_structure[:self], nil, numerological_structure) %></td>
      <td colspan="5"><%= numerological_structure_button(:other, numerological_structure[:other], nil, numerological_structure) %></td>
    </tr>
  </table>

  <%= render 'fortune_analysis/numerological_structure_side_panel' %>
</div>
