<h2>六親図</h2>
<div class="stem-lineage">
  <div class="container">
    <!-- 第一段（祖父母） -->
    <div>
      祖父（父方）
      <div class="box"><%= stem_lineage[:f_grandfather][:text]%></div>
    </div>
    <div>
      祖母（父方）
      <div class="box"><%= stem_lineage[:f_grandmother][:text]%></div>
    </div>
    <div>
      祖父（母方）
      <div class="box"><%= stem_lineage[:m_grandfather][:text]%></div>
    </div>
    <div>
      祖母（母方）
      <div class="box"><%= stem_lineage[:m_grandmother][:text]%></div>
    </div>
    <div></div>


    <!-- 矢印 -->
    <div></div>
    <div class="arrow">↓</div>
    <div class="arrow">↓</div>
    <div></div>
    <div></div>

    <!-- 第二段（両親と義父母） -->
    <div></div>
    <div>
      父
      <div class="box"><%= stem_lineage[:father][:text]%></div>
    </div>
    <div>
      母
      <div class="box"><%= stem_lineage[:mother][:text]%></div>
    </div>
    <div>
      義母
      <div class="box"><%= stem_lineage[:mother_in_law][:text]%></div>
    </div>
    <div>
      義父
      <div class="box"><%= stem_lineage[:father_in_law][:text]%></div>
    </div>
    <div></div>

    <!-- 矢印 -->
    <div></div>
    <div class="arrow">↓</div>
    <div class="arrow">↓</div>
    <div></div>
    <div></div>

    <!-- 第三段（自分と配偶者） -->
    <div></div>
    <div>
      自分
      <div class="box"><%= day_stem.name%></div>
    </div>
    <div>
      配偶者
      <div class="box"><%= stem_lineage[:spouse][:text]%></div>
    </div>
    <div></div>
    <div></div>

    <!-- 矢印 -->
    <div></div>
    <div class="arrow">↓</div>
    <div></div>
    <div></div>
    <div></div>

    <!-- 第四段（子供とその配偶者） -->
    <div>
      配偶者
      <div class="box"><%= stem_lineage[:child_spouse][:text]%></div>
    </div>
    <div>
      子供
      <div class="box"><%= stem_lineage[:child][:text]%></div>
    </div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>