<h1>宿命図</h1>

<%= form_with url: fortune_analysis_calculate_path, method: :post do %>
  <div>
    <p><%= label_tag :date, "日付を選択してください" %></p>
    <%= date_field_tag :date, @date %>
  </div>
  <div class="submit-button">
    <%= submit_tag "計算" %>
  </div>
<% end %>

<div class="result-table">
  <% if @result %>
    <table class="table-bordered">
      <% day_branch = @result.sexagenary_cycle_day.branch %>
      <% month_branch = @result.sexagenary_cycle_month.branch %>
      <% year_branch = @result.sexagenary_cycle_year.branch %>

      <tr>
        <th>日<br/>(<%= @result.sexagenary_cycle_day_id %>)</th>
        <th>月<br/>(<%= @result.sexagenary_cycle_month_id %>)</th>
        <th>年<br/>(<%= @result.sexagenary_cycle_year_id %>)</th>
        <th></th>
      </tr>
      <tr>
        <td><%= @result.sexagenary_cycle_day.stem.name %><br/>（主気）</td>
        <td><%= @result.sexagenary_cycle_month.stem.name %><br/>（精神気・未来・南）</td>
        <td><%= @result.sexagenary_cycle_year.stem.name %><br/>（精神気・過去・北）</td>
        <th>干</th>
      </tr>
      <tr>
        <td><%= day_branch.name %><br/>（西・結果）</td>
        <td><%= month_branch.name %><br/>（中央・交点・経過）</td>
        <td><%= year_branch.name %><br/>（東・未来）</td>
        <th>支</th>
      </tr>
      <tr class="branch-stem">
        <td><%= day_branch.first_stem&.name || '-' %></td>
        <td><%= month_branch.first_stem&.name || '-' %></td>
        <td><%= year_branch.first_stem&.name || '-' %></td>
        <th></th>
      </tr>
      <tr>
        <td><%= day_branch.second_stem&.name || '-' %></td>
        <td><%= month_branch.second_stem&.name || '-' %></td>
        <td><%= year_branch.second_stem&.name || '-' %></td>
        <th></th>
      </tr>
      <tr>
        <td><%= day_branch.third_stem&.name || '-' %></td>
        <td><%= month_branch.third_stem&.name || '-' %></td>
        <td><%= year_branch.third_stem&.name || '-' %></td>
        <th></th>
      </tr>
    </table>
  <% end %>
</div>
