<h1>宿命図</h1>
<%# 生年月日、性別入力 %>
<%= render 'fortune_analysis/input_field', date: @date, gender: @gender %>

<div class="result-field">
  <% if @result %>
    <%# 陰占図 %>
    <div>
      <%= render 'fortune_analysis/yin_chart',
        day_heavenly_void: @day_heavenly_void,
        result: @result,
        has_birth_voids: @has_birth_voids,
        day_stem: @day_stem,
        month_stem: @month_stem,
        year_stem: @year_stem,
        day_branch: @day_branch,
        month_branch: @month_branch,
        year_branch: @year_branch,
        day_qi_stem: @day_qi_stem,
        month_qi_stem: @month_qi_stem,
        year_qi_stem: @year_qi_stem,
        year_heavenly_void: @year_heavenly_void
      %>
    </div>

    <%# 六親図 %>
    <div>
      <%= render 'fortune_analysis/stem_lineage',
        stem_lineage: @stem_lineage,
        day_stem: @day_stem
      %>
    </div>

    <%# 陽占図 %>
    <div>
      <%= render 'fortune_analysis/yang_chart',
        ten_stars: @ten_stars,
        ten_stars_relations: @ten_stars_relations,
        twelve_stars: @twelve_stars,
        has_birth_voids: @has_birth_voids
      %>
    </div>

    <%# 宿命絵図 %>
    <div>
      <%= render 'fortune_analysis/diagram',
        day_stem: @day_stem,
        month_stem: @month_stem,
        year_stem: @year_stem,
        day_branch: @day_branch,
        month_branch: @month_branch,
        year_branch: @year_branch
      %>
    </div>

    <%# 数理法 %>
    <div>
      <%= render 'fortune_analysis/numerological',
        numerological: @numerological,
        day_branch: @day_branch,
        month_branch: @month_branch,
        year_branch: @year_branch
      %>
    </div>

    <%# 数理構造 %>
    <div>
      <%= render 'fortune_analysis/numerological_structure',
        numerological_structure: @numerological_structure
      %>
    </div>

    <%# 詳細 %>
    <%= render 'fortune_analysis/detail',
      youth_sub_star: @youth_sub_star,
      middle_age_sub_star: @middle_age_sub_star,
      old_age_sub_star: @old_age_sub_star,
      abnormals: @abnormals,
      birth_voids: @birth_voids,
      has_birth_voids: @has_birth_voids,
      stem_unions: @stem_unions,
      beast_type: @beast_type
    %>
  <% end %>
</div>
